<p> 
  <b>S</b>on of immigrants moves to New Amsterdam to seek a better life, opportunity, and shelter from big fish/small pond syndrome. He runs into a group of funky and ingenious ragamuffins. Banding together they comb the blocks of Brooklyn in search of wild beats, cheap beer, and the story of the city as they see it.
</p>
<p>  
  <b>Missing Ships</b> are a genre defying collective of New York musicians drawing from far reaching musical inspiration including interstellar groove, druggy drone, arena pop explosions, psychedelic freak outs, rock noir and that's just before they get to practice.
</p>

<p>
  <b>Gregory Most</b>: vox, guits and utter disrespect for sound waves<br/>
  <b>Mimi</b>: vox, thunder clap<br/>
  <b>Nick Colvin</b>: drums, stylish glasses<br/>
  <b>Zack Herman</b>: keys<br/>
  <b>Matt La Von</b>: sexyphone<br/>
  <b>Laura McCarthy</b>: singinz<br/>
</p>

<br/>
<img src="/images/missingshipsstrip.gif"/>
