%h4 Listen To and Download Girls All Night Vol.1 Mixtape!
%p
  %object.iframe{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "240", :width => "640"}
    %param{:name => "movie", :value => "http://cache.reverbnation.com/widgets/swf/40/pro_widget.swf?id=artist_1444090&posted_by=&skin_id=PWAS1002&border_color=000000&auto_play=false&shuffle=true"}/
    %param{:name => "allowscriptaccess", :value => "always"}/
    %param{:name => "allowNetworking", :value => "all"}/
    %param{:name => "allowfullscreen", :value => "true"}/
    %param{:name => "wmode", :value => "opaque"}/
    %param{:name => "quality", :value => "best"}/
    %embed{:allowfullscreen => "true", :allownetworking => "all", :allowscriptaccess => "always", :height => "240", :quality => "best", :src => "http://cache.reverbnation.com/widgets/swf/40/pro_widget.swf?id=artist_1444090&posted_by=&skin_id=PWAS1002&border_color=000000&auto_play=false&shuffle=true", :type => "application/x-shockwave-flash", :width => "640", :wmode => "opaque"}
  %br/
  %img{:border => "0", :height => "0", :src => "http://www.reverbnation.com/widgets/trk/40/artist_1444090//t.gif", :style => "visibility:hidden;width:0px;height:0px;", :width => "0"}/
%h4
  %a{:href => "http://mikeshinoda.com/2011/06/12/playing-your-music-on-lp-radio/", :target => "_blank"} Mike Shinoda's Blog: Playing Your Music on LP Radio
%h4
  %a{:href => "http://gypsygentleman.com/#/episode1", :target => "_blank"} Marcus Kuhn's The Gypsy Gentleman, Episode One, Featuring Music by Missing Ships
%h4
  %a{:href => "http://www.bostonglobe.com/arts/2011/10/26/scene-heard-local-bands-dress-this-halloween/ihwz6XqM4uOefeWfqDaXoJ/story.html", :target => "_blank"} Boston Globe - Local Bands Dress Up This Halloween By Luke O'Neil
%h4
  %a{:href => "http://www.youtube.com/watch?v=VSiRtcxZAbo", :target => "_blank"} Live Band With Jamie Lamm - Missing Ships, Wake Up The Devil
%h4
  %a{:href => "http://www.leszindeructibles.com/2010/12/17/missing-ships-girls-all-night-vol-1-mixtape-ecoute-integrale-commentee/", :target => "_blank"}
    Read The Review of Girls All Night in
    %i Les Zindés
    by Nicolas Ferney (in French)
