%h4 Listen To and Download Girls All Night Vol.1 Mixtape!
%p
  %object.iframe{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "240", :width => "640"}
    %param{:name => "movie", :value => "http://cache.reverbnation.com/widgets/swf/40/pro_widget.swf?id=artist_1444090&posted_by=&skin_id=PWAS1002&border_color=000000&auto_play=false&shuffle=true"}/
    %param{:name => "allowscriptaccess", :value => "always"}/
    %param{:name => "allowNetworking", :value => "all"}/
    %param{:name => "allowfullscreen", :value => "true"}/
    %param{:name => "wmode", :value => "opaque"}/
    %param{:name => "quality", :value => "best"}/
    %embed{:allowfullscreen => "true", :allownetworking => "all", :allowscriptaccess => "always", :height => "240", :quality => "best", :src => "http://cache.reverbnation.com/widgets/swf/40/pro_widget.swf?id=artist_1444090&posted_by=&skin_id=PWAS1002&border_color=000000&auto_play=false&shuffle=true", :type => "application/x-shockwave-flash", :width => "640", :wmode => "opaque"}
  %br/
  %img{:border => "0", :height => "0", :src => "http://www.reverbnation.com/widgets/trk/40/artist_1444090//t.gif", :style => "visibility:hidden;width:0px;height:0px;", :width => "0"}/
  %br
  %a(href='/audio/Girls_All_Night_vol1_mixtape.mp3' target='_blank')
    %img(src='/images/GirlsAllNight600X600.jpg')
