<img src="/images/mslion.jpg" style="float:left; margin-right: 10px" />

<% if flash[:email_signup_message] %>
  <p class="alert">
    <%= flash[:email_signup_message] %>
  </p>
<% end %>

<p>
  <b>Join the mailing list!</b>
  <form action="/contact" method="post" id="mailing-list">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <label>Email:</label>
    <input type="text" name="email" placeholder="you@example.com" /><br/>
    <label>Name:</label>
    <input type="text" name="name" placeholder="Your Name" /></br/>
    <input type="submit" name="Join" value="Join" />
  </form>
</p>

<p>
  <b>Love Letters, Ransom Notes, Questions, Comments</b><br/>
  Missing Ships<br/>
  <a href="mailto:info@missingships.com">info@missingships.com</a>
</p>

<p>
  <b>Booking, Interview Requests, Management Concerns</b><br/>
  Meaghan Q. Sinclair<br/>
  <a href="http://meaghanq.com">http://meaghanq.com</a><br/>
  <a href="mailto:meaghan@meaghanq.com">meaghan@meaghanq.com</a>
</p>
    
    
