%object{:height => "542", :width => "650"}
  %param{:name => "flashvars", :value => "offsite=true&lang=en-us&page_show_url=%2Fphotos%2F60334934%40N02%2Fsets%2F72157626564871432%2Fshow%2F&page_show_back_url=%2Fphotos%2F60334934%40N02%2Fsets%2F72157626564871432%2F&set_id=72157626564871432&jump_to="}/
  %param{:name => "movie", :value => "http://www.flickr.com/apps/slideshow/show.swf?v=71649"}/
  %param{:name => "allowFullScreen", :value => "true"}/
  %embed{:allowfullscreen => "true", :flashvars => "offsite=true&lang=en-us&page_show_url=%2Fphotos%2F60334934%40N02%2Fsets%2F72157626564871432%2Fshow%2F&page_show_back_url=%2Fphotos%2F60334934%40N02%2Fsets%2F72157626564871432%2F&set_id=72157626564871432&jump_to=", :height => "542", :src => "http://www.flickr.com/apps/slideshow/show.swf?v=71649", :type => "application/x-shockwave-flash", :width => "650"}
