#press
  .item
    %h4
      %a{:href => "http://www.bostonglobe.com/arts/2011/10/26/scene-heard-local-bands-dress-this-halloween/ihwz6XqM4uOefeWfqDaXoJ/story.html", :target => "_blank"} Boston Globe - Local Bands Dress Up This Halloween
    %p
      by Luke O'Neil,
      %i The Boston Globe,
      October 26, 2011.
    %blockquote
      "It's a blast for both the bands and the fans," says Gregory Most of
      the soulful rock act Missing Ships, who'll be decked out in the
      metaphorical beehives of Amy Winehouse and the Dap-Kings this weekend.
      "For the bands it's a chance to put on a musical costume and live in
      another’s shoes for an entire album."

  .item
    %h4
      %a{:href => "http://mikeshinoda.com/2011/06/12/playing-your-music-on-lp-radio/", :target => "_blank"} Mike Shinoda's Blog: Playing Your Music on LP Radio
    %p
      June 12, 2011
    %blockquote
      "One of my favorites was Missing Ships 'Forget Me, Forgive Me.'  I'm
      definitely putting this track on our station."

  .item
    %h4
      %a{:href => "http://gypsygentleman.com/#/episode1", :target => "_blank"} Marcus Kuhn's The Gypsy Gentleman, Episode One, Featuring Music by Missing Ships

    <iframe src="http://player.vimeo.com/video/26408418?title=0&amp;byline=0&amp;portrait=0"
    width="400" height="225" frameborder="0" webkitAllowFullScreen
    mozallowfullscreen allowFullScreen></iframe><p><a
    href="http://vimeo.com/26408418">The Gypsy Gentleman - Episode 01: New
    York City</a> from <a href="http://vimeo.com/user7772727">Marcus
    Kuhn</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

  .item
    %h4
      Missing Ships performing Wake Up The Devil on Live Band with Jamie
      Lamm at The Knitting Factory

    <iframe width="560" height="315"
    src="http://www.youtube.com/embed/VSiRtcxZAbo" frameborder="0"
    allowfullscreen></iframe>

  .item
    %h4
      %a{:href => "http://www.leszindeructibles.com/2010/12/17/missing-ships-girls-all-night-vol-1-mixtape-ecoute-integrale-commentee/", :target => "_blank"}
        Read The Review of Girls All Night in
        %i Les Zindés
        by Nicolas Ferney (in French)
