%object.iframe{:classid => "clsid:D27CDB6E-AE6D-11cf-96B8-444553540000", :height => "390", :width => "640"}
  %param{:name => "movie", :value => "http://cache.reverbnation.com/widgets/swf/42/pro_widget.swf?id=artist_1444090&posted_by=&skin_id=PWSS3002&border_color=000000&show_map=true"}/
  %param{:name => "allowscriptaccess", :value => "always"}/
  %param{:name => "allowNetworking", :value => "all"}/
  %param{:name => "allowfullscreen", :value => "true"}/
  %param{:name => "wmode", :value => "opaque"}/
  %param{:name => "quality", :value => "best"}/
  %embed{:allowfullscreen => "true", :allownetworking => "all", :allowscriptaccess => "always", :height => "390", :quality => "best", :src => "http://cache.reverbnation.com/widgets/swf/42/pro_widget.swf?id=artist_1444090&posted_by=&skin_id=PWSS3002&border_color=000000&show_map=true", :type => "application/x-shockwave-flash", :width => "640", :wmode => "opaque"}
%br/
%img{:border => "0", :height => "0", :src => "http://www.reverbnation.com/widgets/trk/42/artist_1444090//t.gif", :style => "visibility:hidden;width:0px;height:0px;", :width => "0"}/
%br/
%h4 Past Shows
%p
  2011-02-04 at Bar Matchless, Brooklyn, NY.  With Muy Cansado, Big Grin, Lovehandle.
%p
  2011-02-07 at Charlie's Kitchen, Cambridge, MA.  With Japanese Monster, Mattison, Jeddo Stars.
  (
  %a{:href => "/images/flyers/20110207-charlies.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-03-30 at Spike Hill, Brooklyn, NY.  With Railbird, The Rex Complex.
  (
  %a{:href => "/images/flyers/20110330-spikehill.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-04-15 at Parkside Lounge, Manhattan, NY.  With Cooling Towers, Lord Classic.
  (
  %a{:href => "/images/flyers/20110415-parkside.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-05-18 at Spike Hill, Brooklyn, NY. With Louis Matteo, Under the
  Elephant, Moose Convention, Zak Smith Band.
  (
  %a{:href => "/images/flyers/20110518-spikehill.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-05-27 at The West Cafe, Brooklyn, NY.
  (
  %a{:href => "/images/flyers/20110527-westcafe.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-06-01 at Matchless, Brooklyn, NY. With Machine Demands, Big Damn
  Giant, Cosmos Says Hello, Dayme.
  (
  %a{:href => "/images/flyers/20110601-matchless.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-07-15 at Parkside Lounge, NY. Cooling Towers, Withersby.
  (
  %a{:href => "/images/flyers/20110715-parkside.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-08-09 at Matchless, Brooklyn, NY.
%p
  2011-08-17 at Church Boston, Boston, MA. With The Wicked Tomorrow,
  DJ Dan-E-Pants.
  (
  %a{:href => "/images/flyers/20110817-church.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-09-23 at Lit Lounge, New York, NY. With The Charms, Poor Everybody,
  Mattison.
  (
  %a{:href => "/images/flyers/20110923-litlounge.jpg", :target => "_blank"}> Flyer
  )
%p
  2011-10-11 at Spike Hill, Brooklyn, NY.
%p
  2011-10-30 at Church Boston, Boston, MA. With Ad Frank, Desperate Kingdom.
  (
  %a{:href => "/images/flyers/20111030-church.jpg", :target => "_blank"}> Flyer
  )
%p
  2012-02-16 at Radio, Somerville, MA. With Japanese Monster, J/Q.
  (
  %a{:href => "/images/flyers/20120216-radio.jpg", :target => "_blank"}> Flyer
  )
%p
  2012-02-17 at Spike Hill, Brooklyn, MA. With Cooling Towers, Madame Trashy.
  (
  %a{:href => "/images/flyers/20120217-spikehill.jpg", :target => "_blank"}> Flyer
  )
