<!DOCTYPE html>
<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css" />
	<link rel="stylesheet" type="text/css" href="/main.css" />
  <link rel="icon" type="image/png" href="/images/ms-32x32.png"/>
  <script src="/main.js"></script>
  <title> Missing Ships <%= '- '+@page.to_s if @page && @page.to_s != 'index'
  %> </title>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22933797-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <a href="/">
    <img id="logo" width=900 height=119
    src="images/logo/missing-ships-desdemona-logo-black-900x119.gif" />
  </a>
	<ul id="nav">
<%= raw( 
  { '/' => 'Main',
    '/about' => 'About',
    '/music' => 'Music',
    '/pics' => 'Pics',
    '/live' => 'Live',
    '/contact' => 'Contact' 
  }.map{|url,name| 
    pg = @page.gsub(/index/, '')
    active = pg==url[1..-1]
    <<-EOT
    <li><a href="#{url}" id="nav_#{name}" #{' class="active"' if active}>#{name}</a></li>
    EOT
  }.join(" ")
) %>
	</ul>
	<div id="content">
		<div id="right">
      <p>
        <a target="_blank" href="http://www.facebook.com/MissingShips"><img src="images/fbbadge.png" alt="Facebook"/></a> 
        <a target="_blank" href="http://www.youtube.com/MissingShips"><img src="images/Youtube_badge.png" alt="YouTube"/></a> 
        <a target="_blank" href="http://www.myspace.com/missingships"><img src="images/MyspaceBadge50x50.png" alt="MySpace"/></a> 
        <a target="_blank" href="http://www.twitter.com/MissingShipsNYC"><img src="images/twitter-50x50.png" alt="Follow MissingShipsNYC on Twitter"/></a>
      </p>
      <p> 
        Girls All Night Promo Video! <br/>
			  <iframe title="YouTube video player" width="560" height="349" src="http://www.youtube.com/embed/dbvTayntLSU" frameborder="0" allowfullscreen></iframe>
      </p>
      <p> 
        Download Girls All Night Vol. 1 <br/>
        <a href="/music"><img style="margin-top:10px" src="images/GIRLSALLNIGHTVOLsmall.jpg" /></a>
      </p>
		</div>

		<div id="left">
		  <div id="<%= @page || 'index' %>">
		    <%= yield %>
		  </div>
		</div>

		<div class="clear"></div>
    <div id="copyright">
      copyright 2011 Missing Ships
    </div>
	</div>
</body>
</html>
